<!doctype html>
<html>
    <head>
        <title>Storage</title>

        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/javascripts/manageItems.js"></script>
    </head>

    <body>
        {{{body}}}
    </body>
</html>