<header class="custom-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Ofek Lan Storage <small>Manage Your Storage</small></h1>
            </div>
            <div class="col-md-2">

                <div class="dropdown create">
                     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Create Content
                        <span class="caret"></span>
                    </button>
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a type="button" data-toggle="modal" data-target="#addItemModal">Add Item</a></li>
                        {{!--<li><a href="#">Add User</a></li>--}}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Items List</h2>
            <div class="list-group">
                {{# each itemsList}}
                <button type="button" class="list-group-item item-btn" id="{{ this._id }}"> {{ this.name }} <span class="badge"> {{ this.itemModelsCount }} </span></button>
                {{/each}}
            </div>
        </div>

        <div class="col-md-9" id="itemModelsTableDiv">
            <div class="row">

                <h2 class="pull-left">Item Models</h2>
                <span class="glyphicon glyphicon-briefcase pull-left itemModelsElement left-item-model-element" id="i-took-items" title="I took thoose items"></span>
                
                <input type="text" class="itemModelsElement pull-right" placeholder="Search" id="searchInput"/>
                <span class="glyphicon glyphicon-plus itemModelsElement pull-right" id="add-item-to-table" title="Add a new item to current table"></span>
                <span class="glyphicon glyphicon-ok itemModelsElement pull-right" id="add-selected-items-to-db" title="Submit selected items"></span>
                <span class="glyphicon glyphicon-remove itemModelsElement pull-right" id="remove-selected-items-from-db" title="Remove selected items"></span>
            </div>

            <table class="table table-hover table-bordered" style="position:relative" id="table-item-models"></table>

        </div>

    </div>
</div>

<footer>
    <p>Copyright Daniel Talor, &copy; 2017</p>
</footer>



{{!--Modals Here !--}}

{{!--Add item Modal--}}
<div class="modal fade" tabindex="-1" role="dialog" id="addItemModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close removeAllWhenClosingModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Item</h4>
      </div>
      <div class="modal-body">
        
        <div class="form-group modal-form-custom">
            <label>Item name</label>
            <input type="text" class="form-control" placeholder="Item name" id="itemName">
        </div>

        <div class="form-group modal-form-custom">
            <label>Table fields</label>
            <input type="text" class="form-control" placeholder="Field name" id="tableFieldName">
            <br />
            <button class="btn btn-success" id="AddToModalTableField">Add</button>
            <br />

            <div class="tableFieldHolder list-group">

            </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default removeAllWhenClosingModal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addItemToDB">Add Item</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{{!--I took item Modal--}}
<div class="modal fade" tabindex="-1" role="dialog" id="iTookItemModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">I Took Thoose Items</h4>
      </div>
      <div class="modal-body" id="modal-i-took-item-body">
          
        <table id="i-took-this-item-table" class="table table-hover table-bordered" style="padding:10px"></table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="update-amount-in-db">Update</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->